<div class="primary-footer">
    <div class="container">
        <div class="row footer-links-row">
          <div class="col-xs-12">
            <ul class="footer-links text-center">
              <li class="footer-link" ng-repeat="link in $ctrl.footerData.links">
                <a ng-href="{{link.url}}">{{link.title}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row payment-accreditator-row">
            <div class="col-xs-12 col-md-6 accreditations">
                <p class="title text-center">Accreditations</p>
                <div class="accreditors">
                      <div class="accreditor" ng-repeat="accreditation in $ctrl.footerData.accreditations" ng-class="accreditation.name"
                        ng-style="{'background-image': 'url({{accreditation.imageUrl}})'}"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 payment-options">
                <p class="title text-center">We proudly Accept</p>
                <div class="payment-providers">
                    <div class="payment-provider" ng-repeat="payment in $ctrl.footerData.payments" ng-class="payment.name"
                      ng-style="{'background-image': 'url({{payment.imageUrl}})'}"></div>
                </div>
            </div>
        </div>
        <div class="row advice-row">
            <div class="col-xs-12">
                <h6>TRAVEL AWARE, ADVICE & SAFETY</h6>
                <p ng-repeat="advice in $ctrl.footerData.advisory" ng-bind-html="advice"></p>
            </div>
        </div>
    </div>
</div>
