// variables
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

// colors
$white:                    #ffffff;
$black:                    #000000;
$black-variant:            #333333;
$gray-variant-1:           #dddddd;
$gray-variant-2:           #BEC4C8;
$dark-blue:                #0a3152;
$dark-blue-variant-1:      #07253F;
$header-background:        $dark-blue;
$primary:                  #03A9F4;
$primary-accent:           #f9676b;

.submit{
  background: $primary-accent;
  border-radius: 0;
  margin-top: 10px;
  padding: 10px 30px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: $white;
  transition: all 0.3s ease;

  &:focus,
  &:hover {
      background: $primary;
  }
}


.input{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: transparent;
  border: 1px solid $gray-variant-2;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: $dark-blue;
  display: block;
  font-size: 15px;
  height: 40px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
